:root {
    --bgcolor: #080808;
    --text:grey;
    --white:white;
    --sptext:rgb(59, 150, 59);
  }
    
    .creative-page {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    
    
    .div1 {
      width: 100%;
      padding: 2rem;
      text-align:left;
    }
    .div1 p{
      letter-spacing: 120%;
    }
    .div1 .imgdiv{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    .div{
      border-bottom: 1px solid var(--text);
    }
    .hero-image {
      max-width:580px;
      height: auto;
      margin-bottom: 1rem;
      border-radius: 10px;
    }
    
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    
    .stats-links {
      display: flex;
      justify-content:flex-start;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
    }
    
    .stats-links a {
      color:var(--sptext);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .stats-links i{
      color: var(--white);
    }
    
    .content-wrapper {
      display: flex;
      margin-top: 2rem;
    }
    
    .div2 {
      width: 70%;
      padding: 2rem;
      border-right: 1px solid white;
    }
    
    .div3 {
      width: 30%;
      padding: 2rem;
      position: sticky;
      top: 4rem;
      height: calc(100vh - 4rem);
      overflow-y: auto;
    }
    
    .section {
      margin-bottom: 2rem;
    }
    
    .section h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      transition: color 0.3s ease;
    }
    
    .section:hover h2,
    .section.active h2 {
      color: #007bff;
    }
    
    .div3 ul {
      list-style-type: none;
      padding: 0;
    }
    
    .div3 li {
      cursor: pointer;
      padding: 0.5rem 0;
      transition: color 0.3s ease;
    }
    
    .div3 li:hover,
    .div3 li.active {
      color: #007bff;
    }
    
    @media (max-width: 768px) {
      .content-wrapper {
        flex-direction: column;
      }
    
      .div2,
      .div3 {
        width: 100%;
        border: none;
      }
    
      .div3 {
        position: static;
        height: auto;
      }
    }
    
    